{% extends "base.html" %}

{% block content %}
<div class="row">
    <h2>{{ station_code }} {{ station_name }}</h2>
    {% if location_url %}
    <p><a href="{{ location_url }}">Where is this observatory?</a></p>
    {% endif %}

    <h3>Graphs</h3>
    <h4>Yearly Breakdown of MPEC Types</h4>
    <iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="Graphs/{{ station_slug }}.html" height="525" width="100%"></iframe>
    
    <h4>Breakdown by Observers</h4>
    <iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="OMF/{{ station_slug }}_Top_10_Observers.html" height="525" width="100%"></iframe>
    </div>

<div class="row">
    <h3>Tables</h3>
    <h4>Yearly Breakdown of MPEC Types</h4>
    <table id="year_table" class="table table-striped table-sm" data-toggle="table" data-show-export="true">
        <thead>
            <tr>
                <th>Year</th>
                <th>Total MPECs</th>
                </tr>
        </thead>
        <tbody>
            {# Use a for loop to generate rows from data passed by Python #}
            {% for row in yearly_data %}
            <tr>
                <td><a href="monthly/{{ station_slug }}_{{ row.year }}.html">{{ row.year }}</a></td>
                <td>{{ row.total_mpecs }}</td>
                <td>{{ row.editorial }}</td>
                <td>{{ row.discovery }}</td>
                {# ... other cells ... #}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h4 style="padding-top: 20px;">List of Individual MPECs</h4>
    <table id="mpec_table" class="table table-striped" data-toggle="table" data-pagination="true" data-search="true">
        <thead>
            <tr>
                <th>Index</th>
                <th>Name</th>
                </tr>
        </thead>
        <tbody>
            {% for mpec in mpec_list %}
            <tr>
                <td>{{ loop.index }}</td> {# loop.index gives the current iteration number #}
                <td>{{ mpec[0] | safe }}</td> {# Use |safe filter if the content has HTML you want to render #}
                <td>{{ mpec[1] | to_datetime }}</td> {# You can create custom filters like to_datetime #}
                <td>{{ mpec[2] }}</td>
                <td>{{ mpec[3] }}</td>
                <td>{{ mpec[4] }}</td>
                <td>{{ mpec[5] | safe }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}